<div class='modal modal-order-show fade' style="margin-top: 300px;" id="NewLoginModal" tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true'>
  <div class='modal-dialog accept-apply-modal' role='document'>
    <div class='modal-content-order-show'>
      <div>
        <button class="float-right" data-dismiss="modal" style="margin-right: 10px;margin-top: 10px; border: 0px;">
          <div style="font-size: 35px;">✖</div>
        </button>
      </div>
      <br>
      <div class='modal-body text-center' style="color: black;"><!--小見出し-->
        <div class="text-center opmt2">
          <%= form_for @user do |f| %>
            <%= f.hidden_field :template,  value: @id %>
            <%= f.submit 'このテンプレートを選択', data: {confirm:'入力に誤りはありませんか?'}, class:'text3 btn pera-button w-100 text-white', id: 'new-game-button'%>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
