<%# @templates.each_with_index do |template, i| %>
<!--  <p><%#= link_to "テンプレート#{i+1}", templates_path(current_user.name), class:"fa fa-clone"%></p>-->
<%# end %>


<p><%= link_to "テンプレート1", templates_1_path(current_user.name), class:"fa fa-clone"%></p>
<p><%= link_to "テンプレート2", templates_2_path(current_user.name), class:"fa fa-clone"%></p>
