<div class="form-center">
  <p><%= @user.name %>様</p>
  <p>ご記入ありがとうございました。<br>
    いただきました情報を元にホームページ作成の工程に入ります。<br>
    モックアップの作成後、登録していただいたEmail宛に送信させていただきます。<br><br>
    モックアップを確認していただいた後<br>改めて弊社からご連絡させていただきお電話、もしくは直接での打ち合わせを行っていきます。<br>
    その際に細かい点の修正や追加点を<br>
    <br>
    弊社からのご連絡をお待ち下さい。<br><br>

    情報のご提供誠にありがとうございました。
   </p>

  <%= link_to "トップへ", user_path(@user), class:"btn-login", style:"float:right" %>



</div>

