<div class='container'>
  <div class="oswald-font text-center"><h2>解約ページ</h2></div>
  <div class='row'>
    <div class='col-12 my-3 text-center'></div>
    <div class="col-3 pr-0"></div>
    <div class="col-6 pr-0">
      <div class="mypage-gp p-3 rounded">
        <p class="mx-2 mb-0 text4"></p>
        <div class="text-center text7 py-2"></div>
      </div>
    </div>
    <div class="col-3 pr-0"></div>
    <div class='col-12 my-3 text-center'></div>

    <% if @subscription&.!@subscription.canceled? %>
      <div class="col-12 text-center mr-3 my-2">
        <%= link_to '定額プランを解約', subscription_path(@subscription), method: :delete, class:'btn pera-button mx-1' %>
      </div>
    <% end %>

  </div>
</div>
