<!DOCTYPE html>
<head>
  <title>ホームページ制作フォーム</title>
  <meta name="description" itemprop="description"
        content="ホームページ制作フォーム"/>
  <meta name="keywords" itemprop="keywords"
        content="AKI HP,AKI HP"/>
  <meta property="og:title" content="ホームページ制作フォーム"/>
  <meta property="og:type" content="website">
  <meta property="og:image"
        content="icon_black.png"/>
  <meta property="og:site_name" content="AKI HP"/>
  <meta property="og:description"
        content="ホームページ制作フォーム"/>
  <link href="/Users/krppppp/form_app/app/assets/stylesheets/application.css" type="text/css">

</head>
<body>
<%= yield %>

<style>
  .form-center {
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
  }
  .send-button {
    padding: 20px;
    position: absolute;
    background: #FF5722;
    border-radius: 40px;
    color: white;
    width: 30%;
    float: right;
    font-size: 20px;
    left: 34%;
  }
  .btn-login {
    display: block;
    background: cadetblue;
    width: 200px;
    font-size: 20px;
    border-radius: 100px;
    padding: 10px 20px;
    text-align: center;
    margin: 40px;
  }
  .contact-form {
    height: 50px;
    width: 550px;
    border: 1px solid black;
  }
  select {
    height: 50px;
    width: 100px;
    font-size: 20px;
  }

    .form-headline {
      border-bottom: 1px solid black;
      padding-bottom: 50px;
      width: 70%;
      margin: auto;
    }

    .menu_content {
      height: 200px;
    }

</style>
</body>
</html>

